/* Start Global Rule */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --main-blue-color: #02ADEA;
    --sec-main-blue-color: #333333;
    --main-transition: 0.5s;
    --p-top: 40px;
    --p-bottom: 40px;
    --background-linear: linear-gradient(to right, #02ADEA, #016284);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo";
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 50px;
    height: 50px;
}

i.fa-share-nodes {
    display: none;
}

.color {
    /* position: fixed !important;
    box-shadow: 0px 5px 10px rgb(255 255 255 / 16%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5000px);
    width: 100%; */
    position: fixed !important;
    box-shadow: 0px 5px 10px rgb(255 255 255 / 16%);
    -webkit-backdrop-filter: blur(10px);
    /* backdrop-filter: blur(5000px); */
    width: 100%;
    background-color: white;
}

/* Start Drop */

.drop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

@media (max-width: 768px) {
    .drop {
        display: none;
    }
}

.drop .dropMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    height: 43px;
    padding: 0 20px;
    position: absolute;
    top: calc(100% + 10px);
    border-radius: 5px;
    background-color: var(--main-blue-color);
}

.drop a {
    color: #fff;
    font-weight: 500;
    display: flex;
    /* background-color: var(--sec-main-color); */
    align-items: center;
    padding: 0px 20px;
    border-radius: 10px;
    gap: 8px;
    color: black;
    font-weight: bold;
}

@media (max-width: 768px) {
    .drop a {
        color: white;
    }
}

.drop a .lang {
    width: 20px;
    -o-object-fit: contain;
    object-fit: contain;
}

.drop a .drop-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7px;
    transform: translateX(-5px);
    transition: 0.2s;
}

.drop.active .dropMenu {
    display: flex;
}

.dropMenu a {
    color: #fff;
    font-weight: 500;
    display: flex;
    background-color: var(--sec-main-color);
    align-items: center;
    padding: 0px 0pc;
    border-radius: 10px;
    gap: 8px;
    color: white;
    font-weight: bold;
}

.drop.active .drop-icon {
    transform: translateX(-5px) rotate(-90deg);
}

/* End Drop */

/* Start Main Title */

.main-title {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

.main-title::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: var(--sec-main-blue-color);
    left: 50%;
    top: 55px;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .main-title::before {
        top: 45px;
    }
}

.main-title span {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin: 0 auto;
    position: relative;
    padding-bottom: 7px;
}

@media (max-width: 768px) {
    .main-title span {
        font-size: 40px;
    }
}

.main-title p {
    font-size: 18px;
    color: black;
    width: fit-content;
    width: 250px;
}

.bt {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* End Main Title */

.pages {
    bottom: 42% !important;
}

/* Start BTN */

a.btn {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--main-blue-color);
    display: flex;
    align-items: center;
    padding: 10px 30px;
    gap: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 50;
    font-size: 18px;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: #00000008;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: var(--main-transition);
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
}


/* End BTN */


.bar-icon {
    display: none;
}

.bar-icon i {
    color: black;
    font-size: 35px;
}

@media (max-width: 768px) {
    .bar-icon {
        display: block;
    }
}

/* Start Mage Menu */

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    /* position: fixed; */
    top: 10px;
    left: 10px;
    z-index: 2;
}

.close-icon {
    font-size: 26px;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
    color: red;
}

.close-icon {
    display: none;
}

.menu-items {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    padding: 20px;
    height: 50000px !important;
}


.menu-items ul {
    list-style: none;
    padding: 0;
    margin: 20% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-items ul li {
    margin-bottom: 20px;
}

.menu-items ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
}

.menu-items ul li a:hover {
    color: var(--sec-main-blue-color);
}

.menu-items .drop {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.menu-items .drop>a {
    justify-content: center;
    color: white;
}

.menu-items .mLinks a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-transform: uppercase;
}



.menu-items .mLinks a .ll span:nth-child(1) {
    color: var(--sec-main-blue-color);
    font-size: 18px;
    font-weight: bold;
}

/* End Mage Menu */

/* End Globa Rule */

/* Start Nav */

.nav {
    position: relative;
    z-index: 300;
    box-shadow: 0px 0px 8px #bfb8b8;
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav .mLinks {
        display: none;
    }
}

@media (max-width: 768px) {
    .menu-items .mLinks{
        display: block;
    }
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .container .logo {
    width: 200px;
    height: 110px;
}

.nav .container .logo img {
    width: 200px;
    height: 150px;
}

.nav .container .navigation ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav .container .navigation ul li {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav .container .navigation ul li:hover a {
    color: var(--main-blue-color);
    transition: 0.5s;
}

.nav .container .navigation ul li a.active {
    color: var(--main-blue-color);
}

/* End Nav */

/* Start Home */

.home .text {
    position: absolute;
    left: 30%;
    z-index: 50;
    color: white;
    transform: translate(-50%, -50%);
    top: 40%;
}

@media (max-width: 768px) {
    .home .text {
        left: 40%;
    }
}

.home .text .title {
    display: flex;
    flex-direction: column;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .home .text .title {
        font-size: 50px;
    }
}

.home .text p {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .home .text p {
        font-size: 22px;
    }
}

/* End Home */


/* Start About */

.about {
    padding-top: var(--p-top);
    padding-bottom: var(--p-bottom);
}

.about .container {
    display: flex;
    margin-top: 65px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about .container .left {
    width: 750px;
}

.about .container .left p {
    font-size: 25px;
    margin-bottom: 30px;
}

.about .container .right {
    flex: 1;
}

@media (max-width: 768px) {
    .about .container .right {
        display: none;
    }
}

.about .container .right .image {
    width: 100%;
    height: 350px;
}

.about .container .right .image img {
    width: 100%;
    height: 350px;
}

/* End About */

/* Start Services */

.services {
    padding-top: var(--p-top);
    padding-bottom: var(--p-bottom);
}

.services .container {
    display: flex;
    margin-top: 65px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.services .container .left {
    width: 650px
}

.services .container .left .sr {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.services .container .left .sr .serv .title {
    font-size: 28px;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

.services .container .left .sr .serv .title::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    background-color: var(--main-blue-color);
    top: -4px;
}

.services .container .left .sr .serv p {
    font-size: 22px;
}

.services .container .right {
    flex: 1;
}

.services .container .right .image {
    width: 100%;
    height: 350px;
    position: relative;
    border: 1px solid var(--main-blue-color);
}

@media (max-width: 768px) {
    .services .container .right .image {
        display: none;
    }
}

.services .container .right .image img {
    width: 100%;
    height: 350px;
    position: absolute;
    right: -40px;
    top: -40px;
}

/* End Services */

/* Start Project */

.project {
    padding-top: var(--p-top);
    padding-bottom: var(--p-bottom);
}

.project .container {
    display: flex;
    margin-top: 65px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-direction: column;
}


.project .container .port {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .project .container .port {
        justify-content: center;
    }
}


.project .container .port .projects {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    /* position: relative; */
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .project .container .port .projects {
        width: 330px;
        height: 240px;
    }
}

.project .container .port .projects::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, rgba(234, 234, 234, 0), rgb(0 0 0 / 50%));
    width: 100%;
    height: 0;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
}

.project .container .port .projects:hover::before {
    height: 100%;
}

.project .container .port .projects img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .project .container .port .projects img {
        width: 330px;
        height: 240px;
    }
}

.project .container .port .projects a {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--main-blue-color);
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    color: white;
    text-transform: uppercase;
    display: none;
    transition: 0.5s;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.project .container .port .projects a img {
    width: 20px;
    height: 20px;
}

.project .container .port .projects:hover a {
    display: flex;
    transition: 0.5s;
}

/* End Project */

/* Start Footer */

.footer {
    background-image: linear-gradient(90deg, #02ADEA, #016284);
    padding-top: var(--p-top);
    flex-direction: column;
}

.footer .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer .container .top {
    padding: 20px 150px;
    display: flex;
    gap: 230px;
}

@media (max-width: 768px) {
    .footer .container .top {
        flex-direction: column;
        gap: 25px;
        padding: initial;
    }
}

.footer .container .top .left {
    display: flex;
    align-items: center;
    width: 640px;
}

@media (max-width: 768px) {
    .footer .container .top .left {
        flex-direction: column;
        align-items: start;
    }
}

.footer .container .top .left .logo {
    width: 230px;
    height: 250px;
}

.footer .container .top .left .logo img {
    width: 350px;
    height: 250px;
}

.footer .container .top .left p {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
}


@media (max-width: 768px) {
    .footer .container .top .left p {
        width: 350px;
    }
}

.footer .container .top .right {
    flex: 1;
    display: flex;
    gap: 45px;
}

@media (max-width: 768px) {
    .footer .container .top .right {
        flex-direction: column;
    }
}

.footer .container .top .right .helpful-link {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer .container .top .right .helpful-link .title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    position: relative;
    width: fit-content;
}

.footer .container .top .right .helpful-link .title::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: white;
    height: 5px;
    bottom: -2px;
}

.footer .container .top .right .helpful-link ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: -15px;
}

.footer .container .top .right .helpful-link ul li img {
    width: 10px;
}

.footer .container .top .right .helpful-link ul li a {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.footer .container .top .right .contact-us {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer .container .top .right .contact-us .title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    position: relative;
    width: fit-content;
}

.footer .container .top .right .contact-us .title::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: white;
    height: 5px;
    bottom: -2px;
}

.footer .container .top .right .contact-us ul li {
    display: flex;
    align-items: center;
    margin-bottom: -15px;
    gap: 5px;
}


.footer .container .top .right .contact-us ul li img {
    width: 25px;
}

.footer .container .top .right .contact-us ul li a {
    color: white;
}

.footer .container .top .right .contact-us .so img {
    width: 30px;
}

.footer .bottom {
    width: 100%;
}

.footer .bottom p {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff20;
    text-align: center;
    color: white;
    font-size: 17px;
}


.footer .bottom a {
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

/* End Footer */

.landing-about {
    height: 43vh;
    background-image: url(../media/new-back.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 768px) {
    .landing-about{
        background-size: auto;
    }
}

.landing-about .container {
    height: 100%;
}

.landing-about .landing-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.landing-about .landing-title .super {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .landing-about .landing-title .super{
        text-align: center;
    }
}


.landing-about .landing-title .sub {
    font-size: 25px;
}

.landing-about .landing-title .sub span {
    color: var(--main-blue-color);
    text-transform: uppercase;
}

/* ***************** */
.landing-contact {
    height: 43vh;
    background-image: url(../media/new-back.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 768px) {
    .landing-contact{
        background-size: auto;
    }
}

.landing-contact .container {
    height: 100%;
}

.landing-contact .landing-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.landing-contact .landing-title .super {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .landing-contact .landing-title .super{
        text-align: center;
    }
}


.landing-contact .landing-title .sub {
    font-size: 25px;
}

.landing-contact .landing-title .sub span {
    color: var(--main-blue-color);
    text-transform: uppercase;
}

/* ***************** */
.landing-project {
    height: 43vh;
    background-image: url(../media/new-back.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 768px) {
    .landing-project{
        background-size: auto;
    }
}

.landing-project .container {
    height: 100%;
}

.landing-project .landing-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.landing-project .landing-title .super {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .landing-project .landing-title .super{
        text-align: center;
    }
}


.landing-project .landing-title .sub {
    font-size: 25px;
}

.landing-project .landing-title .sub span {
    color: var(--main-blue-color);
    text-transform: uppercase;
}

/* ***************** */
.landing-services {
    height: 43vh;
    background-image: url(../media/new-back.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 768px) {
    .landing-services{
        background-size: auto;
    }
}

.landing-services .container {
    height: 100%;
}

.landing-services .landing-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.landing-services .landing-title .super {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .landing-services .landing-title .super{
        text-align: center;
    }
}


.landing-services .landing-title .sub {
    font-size: 25px;
}

.landing-services .landing-title .sub span {
    color: var(--main-blue-color);
    text-transform: uppercase;
}

/* Start About Page */

.about-page {
    padding-top: var(--p-top);
    padding-bottom: var(--p-bottom);
}

.about-page .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-page .container .info .title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px;
    width: fit-content;
}

.about-page .container .info .title::before {
    content: "";
    position: absolute;
    background-color: var(--main-blue-color);
    width: 100%;
    height: 4px;
    bottom: -3px;
}

.about-page .container .info p {
    font-size: 27px;
}

/* End About Page */

/* Start Services Page */

.services-page {
    padding-top: var(--p-top);
    padding-bottom: var(--p-bottom);
}

.services-page .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.services-page .container .sr .serv {
    margin-bottom: 20px;
}

.services-page .container .sr .serv .title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px;
    width: fit-content;
}

.services-page .container .sr .serv .title::before {
    content: "";
    position: absolute;
    background-color: var(--main-blue-color);
    width: 100%;
    height: 4px;
    bottom: -3px;
}

.services-page .container .sr .serv p {
    font-size: 27px;
}

.services-page .container .why .features .title {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
}

.services-page .container .why .features .feat {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 20px;
}

.services-page .container .why .features .feat .fe {
    width: 450px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.services-page .container .why .features .feat .fe img {
    width: 60px;
    height: 60px;
}

.services-page .container .why .features .feat .fe .text {
    font-size: 20px;
    width: 250px;
}

.services-page .container .para {
    font-size: 25px;
    text-align: center;
}

/* End Services Page */

/* Start Project Page */

.catu {
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
    z-index: 200;
}

.catu ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media (max-width: 768px) {
    .catu ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.catu ul li {
    background-color: black;
    width: 250px;
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catu ul li.active {
    background-color: var(--main-blue-color);
    color: white;
}

.catu ul li.active a {
    color: white;
}

.catu ul li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.project-page .container .port {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .project-page .container .port {
        justify-content: center;
    }
}


.project-page .container .port .projects {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    /* position: relative; */
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 768px) {
    .project-page .container .port .projects {
        width: 330px;
        height: 240px;
    }
}

.project-page .container .port .projects::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(180deg, rgba(234, 234, 234, 0), rgb(0 0 0/50%));
    width: 100%;
    height: 0;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
}

.project-page .container .port .projects:hover::before {
    height: 100%;
}

.project-page .container .port .projects img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .project-page .container .port .projects img {
        width: 330px;
        height: 240px;
    }
}

.project-page .container .port .projects a {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--main-blue-color);
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    color: white;
    text-transform: uppercase;
    display: none;
    transition: 0.5s;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.project-page .container .port .projects a img {
    width: 20px;
    height: 20px;
}

.project-page .container .port .projects:hover a {
    display: flex;
    transition: 0.5s;
}

/* End Project Page */


/* Start Contact Page */

.contact-page {
    padding-top: var(--p-top);
    padding-bottom: var(--p-bottom);
}

.contact-page .container .top {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.contact-page .container .top p {
    margin-bottom: 20px;
}

.contact-page .container .top .cont .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 350px;
    text-align: center;
}

.contact-page .container .top .cont .info a:hover {
    color: var(--main-blue-color);
    transition: 0.5s;
}

.contact-page .container .bottom {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .contact-page .container .bottom {
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .contact-page .container .bottom .location-map {
        width: 100%;
    }

    .contact-page .container .bottom .location-map iframe {
        width: 100%;
    }
}

.contact-page .container .bottom form {
    display: flex;
    flex-direction: column;
    width: 450px;
}

@media (max-width: 768px) {
    .contact-page .container .bottom form {
        width: 100%;
    }
}

.contact-page .container .bottom form label {
    font-size: 25px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--main-blue-color);
    border-left: 5px solid;
    padding-left: 10px;
}

.contact-page .container .bottom form input:not(:last-child) {
    padding: 3px;
    border: 0;
    background-color: rgb(2 141 207 / 14%);
    color: black;
    border-left: 5px solid var(--main-blue-color);
    margin-bottom: 10px;
}

.contact-page .container .bottom form input:focus {
    outline: 0;
}

.contact-page .container .bottom form textarea {
    background-color: rgb(2 141 207 / 14%);
    border: 0;
    border-left: 5px solid var(--main-blue-color);
    margin-bottom: 25px;
    color: black;
    padding: 3px;
}

.contact-page .container .bottom form textarea {
    outline: 0;
}

.contact-page input[type="submit"] {
    font-size: 19px;
    background-color: var(--main-blue-color);
    padding: 10px 50px;
    display: block;
    width: fit-content;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 0;
    border: 0;
}

/* End contact Page */


/* Start Details */

.details {
    background-color: rgb(0 0 0 / 80%);
    color: white;
    padding-top: var(--p-top);
}

.details .title {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-blue-color);
    margin-bottom: 25px;
}

.details .de {
    margin-bottom: 25px;
}

.details .de ul {
    list-style: circle;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details .de ul li {
    font-size: 20px;
    text-transform: capitalize;
}

.details .top {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.details .top p {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.details .pr {
    font-size: 46px;
    text-transform: uppercase
}

.details .pr span {
    color: var(--main-blue-color);
}

.details .co {
    font-size: 19px;
    background-color: var(--main-blue-color);
    padding: 10px 50px;
    display: block;
    width: fit-content;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 25px;
    border: 0;
}

.details .gallery-befor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.details .gallery-befor img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid var(--main-blue-color);
    transition: 0.5s;
}

.details .gallery-befor img:hover{
    transform: translate(0px,-4px);
}

.details .gallery-after {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.details .gallery-after img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid var(--main-blue-color);
    transition: 0.5s;
}

.details .gallery-after img:hover{
    transform: translate(0px,-4px);
}

.details .map{
    width: 100%;
}

.details .map iframe{
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

/* End Details */


.desc{
        display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.desc .title{
        font-weight: bold;
}

.sos{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-page .container .bottom form label{
        width: fit-content;
}









